div{
	position:relative;
	left:-100px;
	top:-140;
	
}

.image1{
	position:relative;
	left:100px;
	top:-140;
	
}
hr{
	position:relative;
	bottom:135;
	
}
.bot{
	position:relative;
	bottom:100;
	left:50;
	
}
.ind{
	position:relative;
	bottom:80;
	
	
	
}
.nobita{
	position:relative;
	bottom:110;
	
	
	
}
table{
	width:100%;
	height:0%;
	
	
	
}




